/* My style css */

/* When using the navbar-top-fixed */ 
body {
	padding-top: 40px; 
	padding-bottom: 40px; 
}

.navbar {
    filter:alpha(opacity=90); /* IE */
    -moz-opacity:0.9; /* Mozilla */
    opacity: 0.9; /* CSS3 */
}
	

#ConfigTitle {
    margin-right: 15px;
    margin-top: 15px;
}

#ConfigContent .config-header {
    border-bottom: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 7px 7px;
}

.footer {
	width: 100%;
    #background-color: #FAFAFA;
    background-image: linear-gradient(to top, #FFFFFF, #F2F2F2);
	border-top: 2px solid #CCCCCC;
	height: 40px;
    margin: 10px 0 0;
	position: fixed;
	bottom: 0;
    filter:alpha(opacity=90); /* IE */
    -moz-opacity:0.9; /* Mozilla */
    opacity: 0.9; /* CSS3 */	
}

.copyright{
	padding-top: 10px; 
    font-size: 20px;
    font-weight: bold;
	color: #777777;
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
}
