/* My style css */
/* Karla,Exo,Coda,Voces,Droid Sans   */
@import "http://fonts.googleapis.com/css?family=Voces";
/* When using the navbar-top-fixed */ 
body {

	padding-top: 44px; 
	padding-bottom: 40px; 
	background-color: #E8E8E8;	
	font-family: 'Voces','Arial Narrow',sans-serif
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 5px 5px rgba(51, 51, 51, 0.3);
}

.navbar-inner {
	background: #0D0D0D; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#0D0D0D'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#0D0D0D)); /* for webkit browsers */
	background-image: -moz-linear-gradient(center top , #575757 0px, #0D0D0D 100%); /* for firefox 3.6+ */
}

.navbar .brand {
    color: #FFFFFF;
}

.navbar-link {
    color: #FFFFFF;
}

.navbar-text {
    color: #FFFFFF;
}

#ConfigTitle {
    margin-right: 16px;
    margin-top: 16px;
}

#ConfigContent .config-header {
    border-bottom: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 12px;
    padding: 0 6px 14px;
	color: #000000;
}

.footer {
	width: 100%;
    background-color: #f5f5f5;
    #background-image: linear-gradient(to top, #FFFFFF, #f5f5f5);
	border-top: 2px solid #CCCCCC;
	height: 40px;
    margin: 10px 0 0;
	position: fixed;
	bottom: 0;	
}

.copyright{
	padding-top: 10px; 
    font-size: 20px;
    font-weight: bold;
	color: #999999;
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
}

.toolbox-top {
	#background-color: #FAFAFA;
	margin-top: 10px;
	margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.toolbox-info {
    margin-top: 10px;
	#background-color: #FAFAFA;
	padding: 6px;
}

.pagination {
	height: 32px;
	margin: 0;
}

.pagination a {
	padding: 0 10px;
	line-height: 26px;
}

#menu_container {
	float:left;
	width:100%;
	position:relative;
	right:85%;
	background-color:#f5f5f5; /* column 1 background colour */
	border-right: 2px solid #CCCCCC;
}
#overall_container {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
	background-color:#ffffff; /* column 2 background colour */
	border-right: 2px solid #CCCCCC;
	border-left: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	#box-shadow: 0 5px 5px rgba(51, 51, 51, 0.3);
	#border-radius: 6px 6px 6px 6px;	
}
#leftbox {
	float:left;
	width:15%;
	position:relative;
	left:85%;
	overflow:hidden;
	padding-top: 10px;
	padding-bottom: 18px;
}
#rightbox {
	float:left;
	width:83%;
	position:relative;
	left:86%;
	overflow:hidden;
	padding-bottom: 6px;

}

/* content        */
.content_right {
	#border-left: 2px solid #CCCCCC;
}

.content_right_header {
    font-size: 18px;
    font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	color: #999999;
}

.content_right_content {

}

