/* My style css */
/* Karla,Exo,Coda,Voces,Droid Sans,Roboto   */
@import "http://fonts.googleapis.com/css?family=Roboto";
/* When using the navbar-top-fixed */ 
body {
	padding-top: 50px; 
	padding-bottom: 40px; 
	background-color: #FFFFFF;	
	font-family: 'Roboto','Arial Narrow',sans-serif;

}

#containerSettings {
	position:absolute;
	left:0;
	top:46px;
	right:0px;
	padding:20px 20px;
	background:white;
}
.navbar-default {
	border-color: #0D0D0D;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar {
	background: #0D0D0D; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#0D0D0D'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#0D0D0D)); /* for webkit browsers */
	background-image: -moz-linear-gradient(center top , #575757 0px, #0D0D0D 100%); /* for firefox 3.6+ */
	
	box-shadow: 0 5px 10px rgba(50, 50, 50, 0.5);
}

.fieldset {
	border-bottom:1px solid #CCCCCC;	
	padding: 10px;
	margin-top: 10px;
} 

#ConfigTitle {
    margin-right: 16px;
}

#ConfigContent .config-header {
    font-size: 24px;
    font-weight: bold;
   
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
}

.config-sub-header {
    font-size: 12px;
    font-weight: bold;
	padding: 10px;
	background: #428bca;
	color: #FFFFFF;
}