/* My style css */
/* Karla,Exo,Coda,Voces,Droid Sans,Roboto   */
@import "http://fonts.googleapis.com/css?family=Roboto";

body {
	background-color: #FFFFFF;	
	font-family: 'Roboto','Arial Narrow',sans-serif;
	margin-top:60px;
}

/*
 * navbar
 */
.navbar {
	background: #f5f5f5; /* for non-css3 browsers */
	border-bottom:1px solid #CCCCCC;	
	
	/*box-shadow: 0px 5px 10px 0px rgba(204, 204, 204, 0.75);*/
}
.icon-bar {
   background-color:#428bca 
}
.
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px 10px;	
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #ffffff;
	border-right:1px solid #CCCCCC;
	/*box-shadow:         3px 0px 5px 0px rgba(153, 153, 153, 0.75);*/
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;	
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > .active > a:hover  {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */ 
.main {
 
}

.alert{
	margin-left: 40px;
	margin-right: 40px;
}

.fieldset {
	border-bottom:1px solid #CCCCCC;	
	padding: 10px;
	margin-top: 10px;
} 

#containerSettings {
	position:absolute;
	left:0;
	top:46px;
	right:0px;
	padding:20px 20px;
	background:white;
}

#ConfigTitle {
    margin-right: 16px;
}

#ConfigContent .config-header {
    font-size: 24px;
    font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
}

.config-sub-header {
    font-size: 12px;
    font-weight: bold;
	padding: 10px;
	background: #CCCCCC;
	color: #FFFFFF;
}

.footer {
	width: 100%;
	left:0px;
    background-color: #f5f5f5;
    #background-image: linear-gradient(to top, #FFFFFF, #f5f5f5);
	border-top: 1px solid #CCCCCC;
	height: 30px;
    margin: 10px 0 0;
	position: fixed;
	bottom: 0;	
}

.copyright{
	padding-top: 4px; 
    font-size: 10x;
   /*font-weight: bold;*/
	color: #428bca;
	text-align: center;
}

/*datatables*/
 div.dt_floatleft{
	 float:left;
	 white-space:nowrap;
}
div.dt_floatright{
	float:right;
	white-space:nowrap;
}