/* My style css */
/* Karla,Exo,Coda,Voces,Droid Sans,Roboto   */
@import "http://fonts.googleapis.com/css?family=Roboto";

body {
	background-color: #FFFFFF;	
	font-family: 'Roboto','Arial Narrow',sans-serif;
	margin-top:60px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
	border-right:1px solid #CCCCCC;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;	
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > .active > a:hover  {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
 
.main {
 
}

.navbar {
	background: #0D0D0D; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#0D0D0D'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#0D0D0D)); /* for webkit browsers */
	background-image: -moz-linear-gradient(center top , #575757 0px, #0D0D0D 100%); /* for firefox 3.6+ */
	
	box-shadow: 0 5px 10px rgba(50, 50, 50, 0.5);
}

.alert{
	margin-left: 40px;
	margin-right: 40px;
}

.fieldset {
	border-bottom:1px solid #CCCCCC;	
	padding: 10px;
	margin-top: 10px;
} 

#containerSettings {
	position:absolute;
	left:0;
	top:46px;
	right:0px;
	padding:20px 20px;
	background:white;
}

#ConfigTitle {
    margin-right: 16px;
}

#ConfigContent .config-header {
    font-size: 24px;
    font-weight: bold;
   
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
}

.config-sub-header {
    font-size: 12px;
    font-weight: bold;
	padding: 10px;
	background: #CCCCCC;
	color: #FFFFFF;
}
/* top toolbox (length-combo and pager) for tables */
.toolbox-top {
	background-color: #FAFAFA;
	margin-bottom: 8px;
	padding: 6px;
	border-bottom: 1px solid #CCCCCC;
}

/* combobox with page length for tables */
div.toolbox-length select {
	width: 75px;
}

.toolbox-info {
    margin-top: 10px;
	#background-color: #FAFAFA;	
	color: #595959;
	padding: 6px;
}

.pagination {
	margin: 0;
}

.footer {
	width: 100%;
	left:0px;
    background-color: #f5f5f5;
    #background-image: linear-gradient(to top, #FFFFFF, #f5f5f5);
	border-top: 1px solid #CCCCCC;
	height: 30px;
    margin: 10px 0 0;
	position: fixed;
	bottom: 0;	
}

.copyright{
	padding-top: 4px; 
    font-size: 16px;
    font-weight: bold;
	color: #999999;
	text-align: center;
}