<?php

define('BASE_PATH', dirname( dirname(__FILE__) ));

/**
 * Database settings
 */
$config['db_host'] = '';
$config['db_name'] = '';
$config['db_user'] = '';
$config['db_pass'] = '';

$config["sitename"]		= "SynoPortal";
$config["footer"]		= "&copy; 1995-2013 SynoPortal";
$config["defaultpage"]	= "intralinks";

$config["items_per_page"]= "10";
?>